---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
		<main class="">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
				align="start"
			/>
		</main>

</BaseLayout>
