---
import { getCollection } from "astro:content";
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";


const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);

console.log(posts)
---


<BaseLayout>
    <Hero
    title="Blog"
    tagline="My latest notes and thoughts."
    align="start"
/>

    <h3 class="gap-y-20">Latest posts:</h3>

    {posts && posts.map(post => (
       <a class="" href={`/blog/${post.slug}`}>
        {post.data.title}
        </a>
    ))}
</BaseLayout>