---
import { Image } from "astro:assets";

---

<a href="/" class="flex gap-2 items-center">
      <Image
      src='https://avatars.githubusercontent.com/u/18124391?v=4'
      alt="profile image"
      width={50}
      height={50}
      class="rounded-full"
      />
       Michal Maciejewski
    </a>