---
import Icon from "./Icon.astro";
import NavPages from "./NavPages.astro";
import NavSocials from "./NavSocials.astro";
const currentYear = new Date().getFullYear();
---

<footer class="flex flex-col sm:flex-row sm:justify-between gap-3 sm:gap-12 mt-auto p-3 sm:p-12 text-center text-gray-600 text-sm">
  
  <div class="flex items-center justify-between border-b p-6 sm:hidden">

    <NavSocials />
    <NavPages />
  </div>

  <div class="w-full flex items-center justify-between">

    <p class="flex gap-1 text-center justify-center">
      Template by <a href="https://astro.build/">Astro</a>
      <Icon icon="rocket-launch" size="1.2em" />
    </p>
    
    <p class="flex">&copy; {currentYear} Mike</p>
  </div>
  <!-- <p class="socials">
    <a href="https://twitter.com/me"> Twitter</a>
    <a href="https://github.com/me"> GitHub</a>
    <a href="https://codepen.io/me"> CodePen</a>
  </p> -->
</footer>