---
interface Props {
  title: string;
  tagline?: string;
  align?: "start" | "center";
}

const { align = "center", tagline, title } = Astro.props;
---

<header class:list={["hero stack gap-4 font-7xl", align]}>
  <div class="stack gap-2">
    <h1 class="text-4xl sm:text-7xl flex max-w-xl">{title}</h1>
    {tagline && <p class="text-xl sm:text-2xl max-w-xl">{tagline}</p>}
  </div>
</header>
