---
import Icon from "./Icon.astro";



/** Icon links to social media — edit these with links to your profiles! */
const iconLinks: { label: string; href: string; icon: IconProps["icon"] }[] = [
  // { label: "Twitter", href: "https://twitter.com/me", icon: "twitter-logo" },
  // { label: "Twitch", href: "https://twitch.tv/me", icon: "twitch-logo" },
  { label: "GitHub", href: "https://github.com/maciejka7", icon: "github-logo" },
  // { label: "CodePen", href: "https://codepen.io/me", icon: "codepen-logo" },
  // { label: "dribbble", href: "https://dribbble.com/me", icon: "dribbble-logo" },
  // {
  //   label: "YouTube",
  //   href: "https://www.youtube.com/@me/",
  //   icon: "youtube-logo",
  // },
];
---

<div class="menu-footer">
    <div class="socials">
      {
        iconLinks.map(({ href, icon, label }) => (
          <a href={href} target="_blank" class="hover:text-blue-300 transition-all">
            <span class="sr-only">{label}</span>
            <Icon icon={icon} />
          </a>
        ))
      }
    </div>
</div>